body {
    background-color:cyan;
    background-size:contain;
}

div.container {
    background-color:antiquewhite;
    margin-bottom:15%;
    margin-top:8%;
    border-style: solid;
    box-shadow: 10px 10px 10px grey;
    border-width:0px ;
}
div.btn-group {
    margin-left: 20%;
    margin-top: 6%;
}
h2 {
    margin-top:10%;
    margin-left: 23%;
    text-align:center;
    font-family:fantasy;

    font-size: 50px;
    color:dimgrey;
}

.img-rounded {
    margin-top: -3%;
    margin-left: 4%;
    box-shadow: 5px 5px 5px grey;
}
#windows{
    margin-top: 6%;
}
div.fb-like {
    text-align: left;

}
.twitter-follow-button{
    float:left;
    margin-left:5%;
    margin-right:1%;
}
footer {
    background-color:darkgrey;
    padding-top:100px;
    margin-left:-15px;
    margin-right:-15px;
    margin-top:10%;
    padding-bottom:10px;
}
