<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen"  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">

    <title>ASRW | Asheville Sustainable Restaurant Workforce</title>

	<!--  -->
    <link href="about.css" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.11.min.js"></script>

</head>

<body>
    <div class="container">
        <img src="logo61648.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236" align="left">
            <h2>Who We Are</h2>
                <div class="btn-group">
                    <a href=/index.html class="btn btn-primary" role="button">HOME</a>
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span>&nbsp CONTACT US<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="mailto:aliatodd@asrw.org?Subject=From%20Website">aliatodd@asrw.org</a>
                        </li></ul>
                    <a href= /about.html class="btn btn-info" role="button">ABOUT US</a>
                    <a href= /getInvolved.html class="btn btn-info" role="button">GET INVOLVED</a>
                    <a href= /media.html class="btn btn-info" role="button">MEDIA</a>
                    <a href= /collective.html class ="btn btn-info" role="button">CRAFT COLLECTIVE</a>
                </div>

        <div id="about" class="about">
            <p>The Asheville Sustainable Restaurant Workforce is a local worker founded, worker funded, advocacy group. We aim to improve the economic environment and human rights of restaurant workers in WNC through awareness, advocacy, and action. Although we don’t participate as one yet, we are a community. ASRW is an attempt at that noble goal- to become a community, to share empathy and use our voice as workers to seek representation and improved conditions. We are the foundation of Asheville’s hospitality economy and we deserve a seat at the table!</p>
        </div>

        <footer>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1711122172459208";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
                <div class="fb-like" href="https://www.facebook.com/asrw.org/"  data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                <a class="twitter-follow-button" href="https://twitter.com/avlworkers" data-show-count="false"> Follow @avlworkers</a>

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)      [0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        </footer>
    </div>
</body>
</html>
