body{
    background-color:#01b0bf;
}

#main{
    background-color:antiquewhite;
    padding-top:2%;
    margin-bottom:5%;
    margin-right:5%;
    box-shadow: 10px 10px 10px grey;
}

.img-rounded {
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px grey;
    margin-top: 5%;
    margin-bottom: 5%;
}

div.about {
    background-color:#156b96;
    opacity: 0.9;
   margin:5%;
    box-shadow: 5px 5px 5px grey;
}

p {
    width:100%;
    text-align: center;
    padding: 2%;
    color: white ;
    line-height: 1.5;
    font-size:20px;
}

#media h2{
    text-align:center;
    font-family:fantasy;
    font-style: oblique;
    color:dimgrey;
}

.twitter-timline{
    margin-top:10%;
}

.fb-page {
    margin-top:10%;
}

.tip-video{
    display: block;
    margin-top: 10%;
}

.twitter-follow-button{
    float:left;
    margin-left:5%;
    margin-right:1%;
}

.fb-like {
    text-align: left;
    margin-bottom:2%;

}

footer {
    background-color:darkgrey;
    padding-top:2%;
    margin-top:5%;
   
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

