body {
    background-color:cyan;
    background-size:contain;
}

div.container-fluid {
    background-color:antiquewhite;
    margin-bottom:15%;
    margin-top:8%;
    margin-left:10%;
    margin-right:10%;
    border-style: solid;
    box-shadow: 10px 10px 10px grey;
    border-width:0px ;
}

#header  {

    text-align:center;
    font-family:fantasy;
    font-size: 110px;
    letter-spacing: 5px;
    color:dimgrey;
}

#header2 {
    margin-left: 10%;
    text-align:center;
    font-family:fantasy;
    font-style: oblique;
    color:dimgrey;
}

.img-rounded {
    margin-top: -3%;
    margin-left: 4%;
    box-shadow: 5px 5px 5px grey;
}

div.btn-group {
    margin-left: 25%;
    margin-top: 6%;
}

div.about {
    background-color:#80bfff;
    background: linear-gradient(#80bfff, #99ccff);
    margin-top:10%;
    box-shadow: 5px 5px 5px grey;
}

p {
    width:100%;
    padding-top:2%;
    padding-bottom:2%;
    padding-left: 2%;

    color: white ;
    line-height: 1.5;
    font-size:20px;
}

.twitter-timeline{
    margin-top:5%;
    margin-left: 4%;
}
    #media h2{
    text-align:center;
    font-family:fantasy;
    font-style: oblique;
    color:dimgrey;
    }


.twitter-follow-button{
    float:left;
    margin-left:5%;
    margin-right:1%;
}


.fb-page {
    margin-left:5%;
    margin-top:10%;

}
.tip-video{
    margin-top:10%;
    margin-left:25%;
    margin-bottom:5%;
    position:relative;
}

div.list-group{
    margin-top:10%;

}

div.fb-like {
    text-align: left;

}
footer {
    background-color:darkgrey;
    padding-top:100px;
    margin-left:-15px;
    margin-right:-15px;
    margin-top:10%;
    padding-bottom:10px;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
