body{
    background-color:#01b0bf;

}
.container {
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.aside{
    width: 20vw;

}
@media screen and (max-width: 400px){
    .aside{
        display:none;
    }
}

.main{
    background-color:lightgrey;
    padding-top:1%;
    padding-bottom:2%;
    margin-bottom:5%;
    box-shadow: 10px 10px 10px grey;
    flex: 1;
}

div.title{
    background-color:#e6c300;

}

div.title h1{
    text-align:center;
    font-family:SansSerif;
    font-style: oblique;
    font-weight:bold;
    color:#1a1a1a;
    margin:5%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.img-responsive {
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 5%;
}

.about {
    background-color:#156b96;
    opacity: 0.9;
    margin:5%;
    box-shadow: 5px 5px 5px grey;
}

.about p {
    width:100%;
    text-align: left;
    padding: 2%;
    color: white ;
    line-height: 1.5;
    font-size:20px;
}


div.media-title{
    background-color:#e6c300;
    padding-top: 1%;
    padding-bottom:1%;
    margin-bottom:3%;

}

.media h2{
    text-align:center;
    font-family:SansSerif;
    font-style: oblique;
    font-weight: bold;
    color:#1a1a1a;
}

.media-left{
    background-color:#156b96;
}

.media-body{
    background-color:#156b96;
    padding:2%;

}

.list-group-item {
    background-color:#e6c300;
    margin-left:5%;
    margin-right:5%;
}

.media-heading{
    color:white;
}

.media p{
    color:white;
}

.twitter-timline{
    margin-top:10%;
}

.fb-page {
    margin-top:10%;
}

div.tip-video-title{
    background-color:#e6c300;
    padding-top: 1%;
    padding-bottom:1%;
    margin-top:3%;
    margin-bottom:3%;

}
.tip-video h2{
    text-align: center;
    font-family:SansSerif;
    font-style: oblique;
    font-weight: bold;
    color:#1a1a1a;
}

#tip-video{
    margin:5%;
}

.social{
    margin: 5%;
}

.twitter-follow-button{
    float:left;
    margin-left:5%;
    margin-right:1%;
    margin-bottom:10%;
}

.fb-like {
    text-align: left;
    margin-bottom:1%;
    margin-left:5%;

}

footer {
    background-color:darkgrey;
    padding-top:2%;
    margin-top:3%;

}

footer p {
    text-align:left;
    font-size:small;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
