body{
    background-color:#01b0bf;
    width: 100%;
}

.navbar navbar-inverse{
    width: 100%;
}

.main{
    background-color:lightgrey;
    padding-top:2%;
    padding-bottom:2%;
    margin-bottom:5%;
    margin-right:5%;
    box-shadow: 10px 10px 10px grey;
}

.main h1{

    text-align:center;
    font-family:fantasy;
    font-style: oblique;
    color:#363738;
    margin:5%;
}

.img-responsive {
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 5%;
}

.about {
    background-color:#156b96;
    opacity: 0.9;
    margin:5%;
    box-shadow: 5px 5px 5px grey;
}

.about p {
    width:100%;
    text-align: center;
    padding: 2%;
    color: white ;
    line-height: 1.5;
    font-size:20px;
}
#media {
margin:5%;
}
#media h2{
    text-align:center;
    font-family:fantasy;
    font-style: oblique;
    color:#363738;
    margin:5%;
}

#media a{
    margin-bottom:3%;
}

.twitter-timline{
    margin-top:10%;
}

.fb-page {
    margin-top:10%;
}

.tip-video h2{
    text-align: center;
    font-family:fantasy;
    font-style: oblique;
    color:#363738;
    margin-top:5%;
}

#tip-video{
    margin:5%;
}

.twitter-follow-button{
    float:left;
    margin-left:5%;
    margin-right:1%;
}

.fb-like {
    text-align: left;
    margin-bottom:1%;

}

#footer {
    background-color:darkgrey;
    padding-top:2%;
    margin-top:3%;
    width:100%;
}

#footer p {
    text-align:left;
    font-size:small;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
